<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <a href=" "><img src="/assets/img/logo.svg" alt="logo" id="logo"></a>
            <img src="/assets/img/menu.svg" alt="menu" id="menu">
        </ul>
        <form class="d-flex">
            <input type="text" placeholder="&nbsp; &#xF002; &nbsp; Search"
                style="font-family: Arial, 'Font Awesome 5 Free'" id="col-search" />
            <button class="btn-sm btn-outline-primary" type="submit" id="btn-search">Search</button>
        </form>
        <div class="icon">
            <div class="icon-text">F</div>
        </div>
        <div class="text" id="nickname">Faishal Azka</div>
        <img src="/assets/img/chevron-down.svg" id="chevron" alt="chevron"></a>
    </div>
</nav>