<div class="sidebar">
    <div class="logo_content mb-1">
        <a href=" "><img src="/assets/img/logo-box.svg" alt="logo"></a>
    </div>
    <div class="sidebar-list">
        <ul>
            <li>
                <div>
                    <img src="/assets/img/dashboard.svg" alt="dashboard">
                    <div class="text" id="sidebar-text-1">Dashboard</div>
                </div>
            </li>
            <li>
                <div class="cars">
                    <img src="/assets/img/cars.svg" id="cars" alt="cars">
                    <div class="text" id="sidebar-text-2">Cars</div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div>
    <div class="row">
        <div class="col sm-4">
            <div class="box">
                <div class="box-list">
                    <ul>
                        <li>
                            <div class="text-box-1">CARS</div>
                        </li>
                        <li>
                            <div class="text-box-2" id="list-cars">List Cars</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>